<h1>Vendors</h1>

<div id="vendors">
  <table class="table table-striped" data-controller="datatable">
    <thead>
      <tr>
        <th class="col-4">Vendor</th>
        <th class="col-1" data-searchable="false">Folio's Vendor Status</th>
        <!-- See https://fiduswriter.github.io/simple-datatables/documentation/datetime is making this sortable. -->
        <th class="col-2" data-searchable="false" data-sortable="false">Last Scheduled Job</th>
        <th class="col-2" data-searchable="false" data-sortable="false">Can any info like next scheduled job or job freq go here?</th>
        <th class="col-1" data-sortable="false" data-searchable="false">(Action Buttons)</th>
      </tr>
    </thead>
    <tbody>
    <% @vendors.each do |vendor| %>
      <tr>
        <td>
          <%= link_to vendor.name, vendor_url(vendor.folio_id) %><br/>
          ID: <%= vendor.folio_id %>
        </td>
        <td>Active?</td>
        <td>Get Last Scheduled Job from ???</td>
        <td>Get Next Scheduled Job from dataload job model</td>
        <td>vendor's active buttons</td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
